<% layout("/layouts/boilerplate") -%>
<body>
    <div class="container">
        <div class="row offset-3">
            <div class="col-md-6">
                <h1 class="text-center">Error</h1>
                <p class="text-center">An error occurred while processing your request.</p>
                <p class="text-center"><strong>Status:</strong> </p>
                <p class="text-center"><strong>Message:</strong></p>
                <!-- <a href="/listinges" class="btn btn-primary">Go Back to Listings</a> -->
            </div>
        </div>
    </div>
</body>