<% layout("/layouts/boilerplate") -%>
<body>
    <div class="container" id="error-page">
        <div class="row offset-md-3 mt-5">
            <div class="col-md-6">
                <h1 class="text-center">Error</h1>
                <p class="text-center">An error occurred while processing your request.</p>
                <p class="text-center"><strong>Status:</strong><%=status%> </p>
                <p class="text-center"><strong>Message:</strong><%=message%></p>
                <!-- <a href="/listinges" class="btn btn-primary">Go Back to Listings</a> -->
            </div>
        </div>
    </div>
</body>