<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All listinges</h1>
    <form action="/listinges/new" method="GET">
        <button>create new</button>
    </form>
    <ul>
        <% for(let data of allDataOfListings){ %>
            <li><a href="/listinges/<%=data.id%>"><%= data.title %></a></li>
      <%  } %>

    </ul>
</body>
</html>