<% layout("/layouts/boilerplate") -%>
<body class="wraper">
    <h2>Create new listing</h2>
    <form action="/listinges" method="POST">
        <div class="mb-3 col-6 offset-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input
        type="email"
        class="form-control"
        name="listingObj[title]"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3 col-6 offset-3">
      <label for="exampleInputEmail1" class="form-label">Descrption</label>
      <input
        type="email"
        class="form-control"
        name="listingObj[description]"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>

    <div class="mb-3 col-6 offset-3">
      <label for="exampleInputEmail1" class="form-label">Location </label>
      <input
        type="text"
        class="form-control"
        name="listingObj[location]"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 col-6 offset-3">
      <input type="number" class="form-control" name="listingObj[price]"
         placeholder="Price"
      aria-label="Price" />
    </div>
    <div class="mb-3 col-6 offset-3">
      <input
        type="text"
        class="form-control"
        name="listingObj[country]"
        placeholder="Country"
        aria-label="Country"
      />
    </div>
        <button class="btn btn-primary offset-3">submit</button>
    </form>
</body>
