<div class="content">
  <footer class="footer bg-light">
    <div class="footer-icons">
      <a href="www.linkedin.com/in/akarshit1024" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://x.com/maurya1024" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/akarshit_maurya/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-copy">&copy; MyBnB</div>
    <div class="footer-links">
      <a href="/privacy">Privacy Policy | </a>
      <a href="/termsCondition">Terms of Service | </a>
      <a href="/contactUs">Contact us</a>
    </div>
  </footer>
</div>
