<div class="content">
  <footer class="footer bg-light">
    <div class="footer-icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
    <div class="footer-copy">&copy; WonderLust</div>
    <div class="footer-links">
      <a href="#">Privacy Policy | </a>
      <a href="#">Terms of Service | </a>
      <a href="#">Contact us</a>
    </div>
  </footer>
</div>
