<link rel="stylesheet" href="/css/mininav.css">
<nav class="mini-navbar">
  <!-- Previous button -->
  <button class="mini-nav-control-btn hidden" id="prevBtn" aria-label="Scroll left">
    <i class="fas fa-chevron-left"></i>
  </button>

  <!-- Scrollable navigation -->
  <div class="mini-nav-scroll-wrapper" id="navWrapper">
    <div class="mini-scroll-indicator"></div>
    <ul class="mini-nav-list" id="navList">
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="cities">
          <i class="fas fa-mountain-city"></i>
          <span>Iconic Cities</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="mountain">
          <i class="fas fa-mountain"></i>
          <span>Mountain</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="pool">
          <i class="fas fa-person-swimming"></i>
          <span>Pool</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="farms">
          <i class="fas fa-cow"></i>
          <span>Farms</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="camping">
          <i class="fas fa-campground"></i>
          <span>Camping</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="castles">
          <i class="fas fa-chess-rook"></i>
          <span>Castles</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="domes">
          <i class="fas fa-igloo"></i>
          <span>Domes</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="winter">
          <i class="fas fa-snowflake"></i>
          <span>Winter</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="lakes">
          <i class="fas fa-water"></i>
          <span>Lakes</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="boating">
          <i class="fas fa-sailboat"></i>
          <span>Boating</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="nature">
          <i class="fas fa-tree"></i>
          <span>Nature</span>
        </a>
      </li>
      <li class="mini-nav-item">
        <a href="#" class="mini-nav-link" data-category="campfire">
          <i class="fas fa-fire"></i>
          <span>Campfire</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Next button -->
  <button class="mini-nav-control-btn" id="nextBtn" aria-label="Scroll right">
    <i class="fas fa-chevron-right"></i>
  </button>

  <!-- Toggle section -->
  <div class="mini-toggle-section">
    <span class="mini-toggle-text">Display total before taxes</span>
    <div class="mini-switch" id="toggleSwitch">
      <div class="mini-switch-handle"></div>
    </div>
  </div>
</nav>
<script src="/js/mininav.js"></script>